.menu div.menu-mobile button {
  width: var(--title1-font-size-mobile);
  height: var(--title1-font-size-mobile);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.menu div.menu-mobile .menu-mobile-options {
  transform: translateX(-105%);
  transition: all 0.3s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 50%;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 35px;
  padding: 35px 25px;
  z-index: 1001;
  box-shadow: 5px 0 5px rgba(0, 0, 0, 0.8);
}

.menu div.menu-mobile .menu-mobile-options.active {
  transform: translateX(0);
}

.menu div.menu-mobile .menu-mobile-options button {
  color: var(--text-color);
  font-size: var(--title2-font-size-mobile);
  font-family: var(--title-font);
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.menu div.menu-mobile .menu-mobile-options button .icon {
  width: 1em;
  height: 1em;
  color: var(--text-color);
}

.menu div.menu-mobile .menu-mobile-options button.about-dev-bnt {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header
  .menu
  div.menu-mobile
  .menu-mobile-options
  button.about-dev-bnt
  .about-dev {
  color: var(--text-color);
  font-size: var(--title2-font-size-mobile);
  font-family: var(--title-font);
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.menu div.menu-mobile .menu-mobile-options button.about-dev-bnt .arrow {
  transform: rotate(0deg);
  transition: transform 0.2s ease-in-out;
}

.header
  .menu
  div.menu-mobile
  .menu-mobile-options
  button.about-dev-bnt
  .arrow.active {
  transform: rotate(-180deg);
}

.menu .social-media {
  margin-top: -25px;
  opacity: 0;
  transform: translateX(-20px);
  transition: all 0.2s ease;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  padding-left: 25px;
}

.menu .social-media.active {
  opacity: 1;
  transform: translateX(0);
}

.menu .social-media a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: var(--text-color);
  font-family: var(--text-font);
}

.menu div.menu-mobile button .icon {
  width: 100%;
  height: 100%;
  color: var(--text-color);
}

.menu div.menu-mobile button .icon.close {
  transform: scale(2);
}

.menu nav.menu-desktop {
  display: none;
  gap: 20px;
}

@media screen and (min-width: 768px) {
  .menu div.menu-mobile button {
    width: calc(var(--title1-font-size-tablet) - 10px);
    height: auto;
  }

  .menu div.menu-mobile .menu-mobile-options button {
    font-size: var(--title2-font-size-tablet);
    font-family: var(--title-font);
  }

  .menu div.menu-mobile .menu-mobile-options button.about-dev-bnt .about-dev {
    font-size: var(--title2-font-size-tablet);
    font-family: var(--title-font);
  }

  .menu div.menu-mobile .menu-mobile-options .social-media {
    gap: 25px;
  }
}

@media screen and (min-width: 1024px) {
  .menu div.menu-mobile button {
    display: none;
  }

  .menu nav.menu-desktop {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 35px;
  }

  .menu nav.menu-desktop button {
    background-color: transparent;
    color: var(--text-color);
    font-size: var(--title3-font-size-desktop);
    font-family: var(--title-font);
    transition: all 0.3s ease;
    cursor: pointer;
  }

  .menu nav.menu-desktop .dev-links {
    position: relative;
    display: inline-block;
  }

  .menu nav.menu-desktop button:hover {
    transform: translateY(-5px);
  }

  .menu .social-media {
    opacity: 0;
    position: absolute;
    top: 190%;
    left: -22%;
    width: 160%;
    padding: 20px;
    background: rgba(1, 10, 19, 0.95);
    border-radius: 20px;
    transform: translateY(-10px);
    pointer-events: none;
    transition: all 0.3s ease;
  }

  .menu .social-media a {
    transition: all 0.2s ease-in-out;
  }

  .menu .social-media a:hover {
    transform: scale(1.1);
  }

  .menu .social-media.active {
    opacity: 1;
    transform: translateY(0);
    pointer-events: all;
  }
}

@media screen and (min-width: 1440px) {
  .menu nav.menu-desktop button {
    font-size: var(--title3-font-size-desktop-plus);
  }
}
