.home-champions-list {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    gap: 20px;
    padding: 20px;
    width: 90%;
    margin: 0 auto;
    grid-auto-rows: 120px;
    z-index: 1;
    min-height: 440px;
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    transition-delay: 1s;
}

.home-champions-list.visible {
    opacity: 1;
    transform: translateY(0);
}

@media screen and (min-width: 768px) {
    .home-champions-list {
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
        height: auto;
        gap: 40px;
        grid-auto-rows: 150px;
        transition-delay: 0.5s;
    }
}

@media screen and (min-width: 1024px) {
    .home-champions-list {
        grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
        gap: 30px;
        grid-auto-rows: 190px;
        width: 85%;
    }
}

@media screen and (min-width: 1440px) {
    .home-champions-list {
        gap: 30px;
        grid-auto-rows: 190px;
        width: 85%;
    }
}