.home-champions-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    gap: 20px;
    padding: 20px;
    width: 90%;
    margin: 0 auto;
    grid-auto-rows: 120px;
    max-height: calc((127px * 3) + 20px);
    overflow: hidden;
}

.champion-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.champion-card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    border: 1px solid #222222;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.champion-card h3 {
    font-size: var(--text-font-size-mobile);
    font-family: var(--text-font);
    color: var(--text-color);
    text-align: center;
}