.champ-tips-mobile {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.3s cubic-bezier(0.22, 1, 0.36, 1);
  transition-delay: 2s;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.champ-tips-mobile.visible {
  opacity: 1;
  transform: translateY(0);
}

.champ-tips-tabletDesktop {
  display: none;
}

@media screen and (min-width: 768px) {
  .champ-tips-mobile {
    display: none;
  }

  .champ-tips-tabletDesktop {
    display: block;
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.3s cubic-bezier(0.22, 1, 0.36, 1);
    transition-delay: 0.5s;
  }

  .champ-tips-tabletDesktop.visible {
    opacity: 1;
    transform: translateY(0);
    }
}
