.home-hero {
    width: 100%;
    height: 337px;
    background-image: var(--bg-hero);
    background-size: 180%;
    background-position: 35% 15%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.home-hero::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 337px;
    background: 
        rgba(1,1,1,0.3)
        linear-gradient(to top, #111111 10%, rgba(1,1,1,0) 80%);
    pointer-events: none;
    z-index: 1;
}

.home-hero-content {
    width: 90%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.home-hero-content .break {
    display: none;
}

.home-hero-content h1 span {
    opacity: 0;
    transform: translateY(30px);
    animation: heroAnimation 0.8s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}

.home-hero-content h1 span.first {
    animation-delay: 0.5s;
}

.home-hero-content h1 span.second {
    animation-delay: 1s;
}

.home-hero-content h3 {
    font-family: var(--text-font);
    width: 85%;
    opacity: 0;
    transform: translateY(30px);
    animation: heroAnimation 0.5s cubic-bezier(0.25, 1, 0.5, 1) forwards;
    animation-delay: 1.5s;
}



@media screen and (min-width: 768px) {
    .home-hero {
        height: 488px;
        background-size: 115%;
        background-position: 60% 25%;
        align-items: flex-start !important;
    }

    .home-hero::after {
        height: 488px;
        background: 
            rgba(1,1,1,0.3)
            linear-gradient(to top, #111111 10%, rgba(1,1,1,0) 50%)
            linear-gradient(45deg, #111111 10%, rgba(1,1,1,0) 50%);
    } 

    .home-hero-content {
        width: 60%;
        align-items: flex-start;
        text-align: start;
        margin: 3% 5%;
    }

    .home-hero-content .break {
        display: block;
    }

    .home-hero-content h1 {
        line-height: 100%;
    }

    .home-hero-content h3 {
        line-height: auto;
        letter-spacing: 10%;
        line-height: 1.3em;
    }
}

@media screen and (min-width: 1024px) {
    .home-hero {
        height: 637px;
    }

    .home-hero::after {
        height: 637px;
    }
}

@media screen and (min-width: 1440px) {
    .home-hero {
        height: 862px;
    }

    .home-hero::after {
        height: 862px;
    }
}

@keyframes heroAnimation {
    from{
        opacity: 0;
        transform: translateY(30px);
    }
    
    to {
        opacity: 1;
        transform: translateY(0);
    }
}