.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding: 5% 5%;
  z-index: 1000;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 20%,
    transparent 100%
  );
  z-index: -1;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.header.scrolled::before {
  opacity: 1;
}

.header .title h1 {
  font-size: var(--title1-font-size-mobile);
  font-family: "Protest Revolution", sans-serif;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.95);
  flex-shrink: 0;
  text-align: center;
}

.header .menu,
.header .languages {
  flex: 1;
  display: flex;
  align-items: center;
}

.header .languages {
  justify-content: flex-end;
}

@media screen and (min-width: 768px) {
  .header {
    padding: 3% 5%;
  }

  .header .title h1 {
    font-size: var(--title1-font-size-tablet);
  }
}

@media screen and (min-width: 1024px) {
  .header .title h1 {
    font-size: calc(var(--title1-font-size-desktop) - 40px);
  }
}

@media screen and (min-width: 1440px) {
  .header .title h1 {
    font-size: calc(var(--title1-font-size-desktop-plus) - 40px);
  }
}
