.loading {
    width: 100%;
    height: 100%;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 300px;
}

.loading img {
    width: 25%;
    height: auto;
}