.champ-tips-title {
  text-decoration: none;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: none;
  width: 100%;
}

.champ-tips-title h2 {
  opacity: 0.5;
}

.champ-tips-title.active-chefron h2 {
    opacity: 1;
}

.champ-tips-title img {
  transition: transform 0.2s ease-in-out;
  transform: rotate(0deg);
}

.active-chefron img.arrow {
  transform: rotate(180deg);
}

.champ-tips-list {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition:
    max-height 0.3s ease-in-out,
    opacity 0.3s ease;
}

.champ-tips-list.active-chefron {
  max-height: 500px;
  opacity: 1;
}

.champ-tips-list ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.champ-tips-list li img {
  width: 13px;
  margin-right: 2px;
}

.champ-tips-list li img.ally {
  filter: invert(59%) sepia(35%) saturate(941%) hue-rotate(82deg)
    brightness(95%) contrast(92%);
}

.champ-tips-list li img.enemy {
  filter: invert(88%) sepia(58%) saturate(5758%) hue-rotate(345deg)
    brightness(97%) contrast(102%);
}

@media screen and (min-width: 768px) {
  .champ-tips-list{
    height: auto;
    width: 50%;
    flex-shrink: 0;
  }

  .champ-tip-list-content {
    width: 100%;
    overflow: hidden;
    position: relative;
  }

  .champ-tip-list-track {
    display: flex;
    width: 200%;
    transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .champ-tip-list-track.ally {
    transform: translateX(0%);
  }

  .champ-tip-list-track.enemy {
    transform: translateX(-50%);
  }

  .champ-tips-list li {
    line-height: 30px;
    margin-right: 3px;
  }

  .champ-tips-list li img {
    margin-right: 3px;
  }
}

@media screen and (min-width: 1024px) {
  .champ-tips-list li {
    line-height: 30px;
  }
}

@media screen and (min-width: 1440px) {
  .champ-tips-list ul {
    gap: 20px;
  }

  .champ-tips-list li {
    line-height: 35px;
  }
}