.name-n-title {
    display: flex;
    flex-direction: column;
}

.name-n-title h1 {
    margin-bottom: -5px;
    opacity: 0;
    animation: fadeInUp 0.3s cubic-bezier(0.22, 1, 0.36, 1) forwards;
    animation-delay: 0.5s;
    will-change: transform, opacity;
}

.name-n-title h3 {
    font-family: var(--text-font);
    opacity: 0;
    animation: fadeInUp 0.3s cubic-bezier(0.22, 1, 0.36, 1) forwards;
    animation-delay: 0.7s;
    will-change: transform, opacity;
}

@media screen and (min-width: 768px) {
    .name-n-title h1 {
        margin-bottom: -15px;
    }
}

@media screen and (min-width: 1024px) {
    .name-n-title h1 {
        margin-bottom: -25px;
    }
}

@media screen and (min-width: 1440px) {
    .name-n-title h1 {
        margin-bottom: -40px;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}