:root {
  --bg-color: black;
  --text-color: white;
  --title-font: Bebas Neue, sans-serif;
  --text-font: Montserrat, sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--text-font);
  color: var(--text-color);
  font-weight: 100;
}

h1, h2 {
  font-family: var(--title-font);
  font-weight: 400;
}

h3 {
  font-weight: 200;
}

section {
  width: 270px;
  margin: 15px 0;
  height: auto;
}

@media screen and (min-width: 768px) {
  section {
    width: 542px;
    margin-bottom: 27px;
  }
}

@media screen and (min-width: 1024px) {
  section {
    width: 725px;
  }
}

@media screen and (min-width: 1440px) {
  section {
    width: 1023px;
  }
}