:root {
  --bg-color: black;
  --text-color: white;
  --title-font: Bebas Neue, sans-serif;
  --text-font: Montserrat, sans-serif;
  --text-font-size-mobile: 13px;
  --title1-font-size-mobile: 32px;
  --title2-font-size-mobile: 24px;
  --title3-font-size-mobile: 15px;
}

* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  font-family: var(--text-font);
  color: var(--text-color);
  font-weight: 100;
}

h1, h2 {
  font-family: var(--title-font);
  font-weight: 400;
}

h3 {
  font-weight: 200;
}

div:has(section):not(:has(.hero)):not(:has(.name-n-title)) {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  width: 270px;
  margin: 15px 0;
  height: auto;
}

@media screen and (min-width: 768px) {
  section {
    width: 542px;
    margin-bottom: 27px;
  }
}

@media screen and (min-width: 1024px) {
  section {
    width: 725px;
  }
}

@media screen and (min-width: 1440px) {
  section {
    width: 1023px;
  }
}